.advantages {
  min-height: 472px;
  background-color: #f6f6f6;
  padding: 69px 0 95px 0;
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 247px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    margin-top: 20  px;
  }
  &__text {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  a {
    color: #ff0000;
    text-decoration: underline;
  }
}