.slider {
  max-height: 750px;
  padding: 108px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__window {
    width: 750px;
    overflow: hidden;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 2250px;
    transition: all 0.5s ease 0s;
  }
  &__item {
    width: 750px;
  }
  &__left {
    cursor: pointer;
  }
  &__right {
    cursor: pointer;
  }
}