* {
  box-sizing: border-box; }

.container {
  width: 950px;
  margin: 0 auto; }

.advantages {
  min-height: 472px;
  background-color: #f6f6f6;
  padding: 69px 0 95px 0; }
  .advantages__content {
    display: flex;
    justify-content: space-between;
    margin-top: 65px; }
  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 247px; }
  .advantages__title {
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    margin-top: 20  px; }
  .advantages__text {
    font-size: 14px;
    text-align: center;
    margin-top: 20px; }
  .advantages a {
    color: #ff0000;
    text-decoration: underline; }

.promo {
  max-height: 650px;
  background: url("../img/girl_bg.jpg") center center/cover no-repeat;
  padding: 24px 0 93px 0; }
  .promo__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 91px; }
  .promo__header {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    text-align: center; }
  .promo__subheader {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-align: center; }
  .promo__icons {
    display: flex;
    justify-content: space-between;
    width: 425px;
    margin-top: 67px; }
  .promo__icon {
    width: 108px;
    text-align: center;
    font-size: 14px;
    color: #ffffff; }
    .promo__icon img {
      display: block;
      margin: 0 auto; }
  .promo__consultation {
    color: #ffffff;
    text-align: right;
    margin-top: 67px;
    font-size: 16px; }
    .promo__consultation span {
      text-transform: uppercase;
      text-decoration: underline; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__official {
    text-align: center;
    color: #ffffff;
    font-size: 12px; }
  .header__phone {
    display: block;
    text-decoration: none;
    color: #ffffff; }
    .header__phone:hover {
      color: #fff;
      text-decoration: underline; }
  .header span {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 18px; }

.button {
  background-color: #c70101;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  text-transform: uppercase; }

.header__button {
  font-size: 12px;
  width: 150px;
  height: 30px;
  margin-top: 8px;
  padding: 0; }

.promo__button {
  display: block;
  font-size: 16px;
  width: 300px;
  height: 50px; }

.consultation__button {
  width: 300px;
  height: 55px;
  font-size: 16px;
  margin-top: 20px; }

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase; }

@media screen and (max-width: 1023px) {
  .container {
    max-width: 100%; }
  .promo__content {
    align-items: center; } }

@media (min-width: 320px) and (max-width: 640px) {
  .promo {
    background-position-x: -461px;
    padding: 10px 0 30px 0;
    max-height: 100%; }
    .promo__content {
      margin-top: 40px; }
    .promo__header {
      font-size: 25px; }
    .promo__subheader {
      font-size: 18px; }
    .promo__icons {
      align-items: flex-end;
      width: 100%; }
  .header {
    flex-direction: column; }
    .header__official {
      margin-top: 20px;
      font-size: 20px; }
      .header__official span {
        font-size: 20px; }
    .header__contacts {
      margin-top: 20px; }
    .header__phone {
      font-size: 20px;
      text-align: center; }
    .header__button {
      margin-top: 15px;
      font-size: 16px;
      width: 200px;
      height: 50px; } }

.consultation {
  min-height: 680px;
  background: url("/src/img/shoes_bg.jpg") center center/cover no-repeat;
  padding: 103px 0 92px 0; }
  .consultation__header {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase; }
  .consultation__subheader {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 70px; }

.contact-form {
  padding-top: 21px;
  display: flex;
  flex-direction: column; }
  .contact-form__input {
    font-size: 16px;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 15px;
    width: 300px;
    height: 55px; }

.slider {
  max-height: 750px;
  padding: 108px 0; }
  .slider__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .slider__window {
    width: 750px;
    overflow: hidden; }
  .slider__inner {
    display: flex;
    flex-direction: row;
    align-items: center; }
